body{
    background:url(../IMG/palestras.png);
}
#seta{
    height: 40px;
    width: 40px;
}
#ticket{
    position:relative;
    top:45px;
    left:33px;
    height:200px;
    width: 500px;
    transition: all 0.5s;
    cursor: pointer;
}
#ticket2{
    position:relative;
    top:265px;
    right:472px;
    height:200px;
    width: 500px;
    transition: all 0.5s;
    cursor: pointer;
}
#ticket:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#ticket2:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#text{
    color: white;
    position: relative;

}
.lendo{
    height:550px;
    position: relative;
    left:600px;
    bottom:200px;

}
.button{
    height:0px;
    border: none;

}
   